
#about {
    background-color: #3D75FF; 
    height: 450px;
    clip-path: polygon(0 100%, 0 0, 100% 0%, 100% 85%);
    color: #ededed;
	overflow: hidden;
}

#about > .heading {
    text-align: center;
    font-size: 1.2em;
    padding-top: 2em;
	text-transform: uppercase;
}

.about-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
}

.about-content img {
    width: 2300px;
    height: 300px;
    margin-left: 10em;
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgb(0 0 0 / 30%);
    background-color: #0f4ce3;
object-fit: scale-down;
}

.about-text {
    margin: 1em 10em 1em 5em;
    text-align: left;
}
