
/* Tablet rules */
@media screen and (max-width: 768px) {
	.about-content{
		padding: 0;
	}
	
	.about-content img {
		margin-bottom: 25em;
		margin-left: 4em;
		width: 2000px;
	}
	
	.about-text {
		margin: 4em 1em 15em 1em;
		height: 400px;
		text-align: left;
	}
	
	.project {
		flex-direction: column-reverse;
	}
	
	.project-text-container {
		width: 500px;
		text-align: center;
	}
    
    .project .buttons {
        justify-content: center;
    }
	
	.visit-btn {
		text-align: center;
	}
	
	#contact {
		clip-path: polygon(0% 20%, 50% 0%, 100% 20%, 100% 0%, 100% 100%, 0% 100%) !important;
	}
    
    .footer {
        justify-content: center;
    }
    
    .footer-content, .footer .link {
        flex-direction: column;
    }
    
    .footer .link {
        margin-bottom: 1em;
    }
}

/* Mobile L rules */
@media screen and (max-width: 425px) {
	#about {
		height: 780px;
	}
	
	.about-content {
		flex-direction: column;
	}
	
	#about > .heading {
		padding-bottom: 1em;
	}
	
	.about-content img {
		width: 300px;
		margin: 0;
	}
	
	.about-text {
		margin-top: 3em;
	}
	
	.project-image img {
		width: 350px;
		object-fit: cover;
	}
	
	.project-text-container {
		width: 350px;
		margin-right: 1em;
	}
	
	#contact {
		clip-path: polygon(0% 20%, 50% 0%, 100% 20%, 100% 0%, 100% 100%, 0% 100%) !important;
	}
}

/* Mobile M rules */
@media screen and (max-width: 375px) {
	#about {
		height: 800px;
	}
	
	.project-image img {
		width: 340px;
	}
	
	#contact {
		clip-path: polygon(0% 20%, 50% 0%, 100% 20%, 100% 0%, 100% 100%, 0% 100%);
	}
    
    .form-group input, .form-group textarea {
        width: 250px;
    }
}

/* Mobile S rules */
@media screen and (max-width: 320px) {
	#about {
		height: 860px;
	}
	
	.about-content img {
		width: 250px;
	}
	
	.project-image img {
		width: 300px;
	}
	
	.project-text-container {
		width: 300px;
	}
	
	#contact {
		clip-path: polygon(0% 15%, 50% 0%, 100% 15%, 100% 0%, 100% 100%, 0% 100%) !important;
	}
	
	.form-group {
		width: 200px;
	}
	
	.form-group input {
		width: 200px;
	}
    
    .form-group textarea {
        width: 200px;
    }
	
	.form-group label {
		padding: 0;
	}
}

